ansicon
attrs
awscli
blessed
boto3
botocore
certifi
chalice
charset-normalizer
click
colorama
docutils
dsnap
idna
inquirer
jinxed
jmespath
mypy-extensions
pyasn1
python-dateutil
python-editor
pyyaml
readchar
requests
rsa
s3transfer
six
sqlalchemy-utils
sqlalchemy
typing-extensions
typing
urllib3
wcwidth
